@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Vazir-FD";
  src: url("../../public/woff/Vazir-FD.woff") format("woff");
}

body {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--black_base);
  font-family: Vazir-FD !important;
}

* {
  font-family: Vazir-FD !important;
}

p,
ul {
  margin: 0 !important;
}

.c_container {
  width: 90%;
  margin: 0 auto;
}

/* Ant Design Custom Class */

.header .ant-divider {
  margin: 10px auto !important;
}

.ant-input-affix-wrapper {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.bg-blobs {
  background: white;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.bg-blobs::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    radial-gradient(circle at 0% 30%, rgba(170, 0, 255, 0.131), transparent 10%),
    radial-gradient(circle at 100% 50%, rgba(170, 0, 255, 0.131), transparent 10%),
    radial-gradient(circle at 50% 90%, rgba(170, 0, 255, 0.131), transparent 10%),
}